asgiref==3.11.1
dj-database-url==3.1.0
Django==5.2.11
django-prometheus==2.4.1
djangorestframework==3.16.1
gunicorn==25.0.1
packaging==26.0
prometheus_client==0.24.1
psycopg==3.3.2
psycopg-binary==3.3.2
sqlparse==0.5.5
tzdata==2025.3
